.board {
    width:500px;
    height:500px;
    display: grid;
    border: 1px solid black;
    user-select: none;
}

.title {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: rgb(0, 130, 153);
    font-style: italic;
}

body {
    background-color: rgb(202, 240, 255);
}

.flex-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px;
}

.sliderAndValue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.rainbow {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    font-weight: bold;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.eraser {
    background-color: pink;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.reset {
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

#slider {
    width: 400px;
}

.value {
    font-weight: bold;
    font-size: 20px;
    color: rgb(19, 61, 117);
}

#colorSelector {
    background-color: lightblue;
    cursor: pointer;
    width: 30px;
    border-radius: 60%;
}

.colorWheel {
    display:flex;
    gap: -10px;
    align-items: center;
    gap: 8px;
}

#slider {
    cursor: all-scroll;
    color: black;
}

img {
    width: 20px;
}

img:hover {
    transform: scale(1.1);
}

.footer {
    display: flex;
    gap: 5px;
    height: 50px;
    align-items: flex-end;
    font-weight: bold;
}
